version: '2'

services:
  backend:
    build: .
    volumes:
      - ./src:/app
    ports:
      - "8080:8000"
  web:
    image: nginx  
    links:
      - backend
    volumes:
      - ./etc/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./public:/home/box/web/public
      - ./uploads:/home/box/web/uploads
    ports:
      - "80:80"
    environment:
      - NGINX_PORT=80
    